@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;

}
#app{
    background: linear-gradient(to left, #6879BB 0%, #9300BB 100%);
    position: absolute;
    width: 100%;
    height: 100%;
}
