*{
    margin: 0px;
    padding: 0px;
}
#app{
    background: linear-gradient(to left, #6879BB 0%, #9300BB 100%);
    /*background: blueviolet;*/

    position: absolute;
    width: 100%;
    height: 100%;
}